@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
  font-family: 'monserrat',sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* background-color: #0f0f0f;
  color: #fff; */
}

li{
  text-decoration: none;
  color: unset;

}

li:hover{
  color: crimson
}

.container{
  max-width: 1660px;
  margin: auto;
}

button, input{
  outline: 0;
}

ul{
  list-style-type: none;
}
img{
  max-width: 100%;
}
.section{
  padding: 0 2rem;
}
.section__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ul:hover{
  color: crimson
}  */